body {
    background: transparent;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
   
*::-webkit-scrollbar-thumb {
    background: transparent;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
    border-bottom-right-radius: 0px;
}